Repository brunotot/mern-monorepo-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, node scripts/js/commitEmoji.js

chore: remove early return temporarily
  packages/backend/src/infrastructure/repository/impl/KeycloakRepository.ts
Due: prettier --write

chore: temporarily write better error log in withSecured
  packages/backend/src/infrastructure/middleware/withSecured.ts
Due: prettier --write

chore: test fix for prod with keycloak repository
  packages/backend/src/infrastructure/middleware/withSecured.ts
  packages/backend/src/infrastructure/repository/impl/KeycloakRepository.ts
Due: prettier --write

chore: prettify logs
  packages/backend/src/App.ts
  packages/backend/src/config/singletons/Logger.ts
Due: prettier --write

chore: fix zod extending with openapi not triggering at appropriate time
  packages/shared/src/config/Contract.config.ts
  packages/shared/src/config/Entity.config.ts
  packages/shared/src/config/Zod.config.ts
  packages/shared/src/config/index.ts
  packages/shared/src/domain/ErrorLog/ErrorLog.domain.ts
  packages/shared/src/domain/User/User.domain.ts
  packages/shared/src/domain/User/User.typedef.ts
  packages/shared/src/index.ts
Due: prettier --write

chore: fix keycloak memory store ready for prod
  package.json
  packages/backend/src/infrastructure/security/KeycloakMemoryStore.ts
  packages/shared/src/config/index.ts
  pnpm-lock.yaml
Due: prettier --write

chore: fix invalid env variables load in vite config
  .vscode/launch.json
  packages/frontend/src/setup/apiClient.setup.ts
  packages/frontend/vite.config.ts
Due: prettier --write

chore: bump action-setup to v4.0.0 in action.yml
  .github/composite-actions/install/action.yml
Due: prettier --write

remove husky and pre-commit linters
  .commitlintrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, node scripts/js/commitEmoji.js

chore: convert readme generator to yml action executable
  .github/composite-actions/install/action.yml
  .github/workflows/readme-generator.yml
  .github/workflows/typedoc-generator.yml
  README.md
  assets/md/4-installation.md
Due: prettier --write

Apply automatic changes
  pnpm-lock.yaml
Due: none

chore: refresh pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: add ci/cd for tests on different packages
  .eslintrc
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-shared.yml
  .vscode/launch.json
  package.json
  packages/backend/package.json
  packages/backend/src/ExpressApp.ts
  packages/backend/src/decorators/contract.ts
  packages/backend/src/infrastructure/middleware/global/withKeycloak.ts
  packages/backend/src/infrastructure/middleware/withSecured.ts
  packages/backend/src/infrastructure/repository/impl/KeycloakRepository.ts
  packages/backend/src/infrastructure/service/UserService.ts
  packages/backend/test/__mocks__/KeycloakRepositoryMock.ts
  packages/backend/test/__mocks__/index.ts
  packages/backend/test/random.test.ts
  packages/backend/test/user.test.ts
  packages/backend/tsconfig.json
  packages/backend/tsconfig.prod.json
  packages/frontend/.eslintrc
  packages/frontend/package.json
  packages/shared/package.json
  packages/shared/test/contracts.test.ts
  packages/shared/test/setup/globalSetup.ts
  packages/shared/vitest.config.js
  pnpm-lock.yaml
  tsconfig.json
  typedoc.json
Due: prettier --write

chore: a bit more cleaning
  .github/workflows/typedoc-generator.yml
  .prettierignore
  .vscode/launch.json
  LICENSE
  assets/sh/printRepoTreeStructure.sh
  assets/sh/typedoc.sh
  package.json
  packages/backend/package.json
  packages/shared/package.json
Due: prettier --write

chore: refactor why.md
  README.md
  assets/md/1-banner.md
  assets/md/2-why.md
Due: prettier --write

chore: fix pnpm lock
  pnpm-lock.yaml
Due: none

chore: fix eslint errors on frontend after common eslint config from monorepo root
  packages/frontend/package.json
  packages/frontend/src/@types/i18n.d.ts
  packages/frontend/src/ReactApp.tsx
  packages/frontend/src/app/pages/Home/HomePage.tsx
  packages/frontend/src/app/pages/Home/UserCreateFormButton.tsx
  packages/frontend/src/app/pages/Home/UserForm.tsx
  packages/frontend/src/app/pages/Login/LoginPage.tsx
  packages/frontend/src/app/pages/Preferences/PreferencesPage.tsx
  packages/frontend/src/app/pages/ProtectedRoute.tsx
  packages/frontend/src/app/routes.tsx
  packages/frontend/src/app/theme.ts
  packages/frontend/src/components/inputs/InputIconButtonSelect/InputIconButtonSelect.tsx
  packages/frontend/src/components/inputs/InputLocaleSelect/InputLocaleSelect.tsx
  packages/frontend/src/components/inputs/InputRangeBasic/InputRangeBasic.tsx
  packages/frontend/src/components/layout/Layout.tsx
  packages/frontend/src/components/layout/variants/HorizontalNavVariant.tsx
  packages/frontend/src/components/layout/variants/SidebarNavVariant.tsx
  packages/frontend/src/components/navigation/ButtonHoverMenu/ButtonHoverMenu.tsx
  packages/frontend/src/components/navigation/Sidebar/Sidebar.tsx
  packages/frontend/src/components/providers/impl/MuiThemeProvider.tsx
  packages/frontend/src/components/providers/impl/QueryClientProvider.tsx
  packages/frontend/src/components/providers/impl/StylesProvider.tsx
  packages/frontend/src/components/semantics/Datatable/components/DatatableContainer/DatatableContainer.tsx
  packages/frontend/src/components/semantics/Datatable/components/DtSortableCell/DtSortableCell.tsx
  packages/frontend/src/components/semantics/Datatable/impl/ClientDatatable/ClientDatatable.tsx
  packages/frontend/src/components/semantics/Datatable/impl/ClientDatatable/types.ts
  packages/frontend/src/components/semantics/Datatable/impl/ServerDatatable/ServerDatatable.tsx
  packages/frontend/src/components/semantics/Datatable/impl/ServerDatatable/types.ts
  packages/frontend/src/components/semantics/Datatable/types.ts
  packages/frontend/src/components/semantics/Footer/Footer.tsx
  packages/frontend/src/components/semantics/Header/Header.tsx
  packages/frontend/src/config/MuiTheme.config.ts
  packages/frontend/src/config/NavigationRoute.config.ts
  packages/frontend/src/config/UiPreferences.config.ts
  packages/frontend/src/config/i18n.config.ts
  packages/frontend/src/signals/sigLayout.ts
  packages/frontend/src/signals/sigLocale.ts
  packages/frontend/src/signals/sigPreferences.ts
  packages/frontend/src/signals/sigUser.ts
Due: prettier --write

chore: add git ignore to lib api client
  packages/lib-api-client/.gitignore
Due: none

Apply automatic changes
  README.md
  packages/lib-api-client/node_modules/.bin/rimraf
  packages/lib-api-client/node_modules/.bin/tsc
  packages/lib-api-client/node_modules/.bin/tsserver
  packages/lib-api-client/node_modules/.bin/vitest
  pnpm-lock.yaml
Due: prettier --write

chore: remove node modules and dist and add new lock file
  packages/lib-api-client/dist/src/config/Contract.config.d.ts
  packages/lib-api-client/dist/src/config/Contract.config.d.ts.map
  packages/lib-api-client/dist/src/config/Contract.config.js
  packages/lib-api-client/dist/src/config/Contract.config.js.map
  packages/lib-api-client/dist/src/config/index.d.ts
  packages/lib-api-client/dist/src/config/index.d.ts.map
  packages/lib-api-client/dist/src/config/index.js
  packages/lib-api-client/dist/src/config/index.js.map
  packages/lib-api-client/dist/src/contracts/User.contract.d.ts
  packages/lib-api-client/dist/src/contracts/User.contract.d.ts.map
  packages/lib-api-client/dist/src/contracts/User.contract.js
  packages/lib-api-client/dist/src/contracts/User.contract.js.map
  packages/lib-api-client/dist/src/contracts/index.d.ts
  packages/lib-api-client/dist/src/contracts/index.d.ts.map
  packages/lib-api-client/dist/src/contracts/index.js
  packages/lib-api-client/dist/src/contracts/index.js.map
  packages/lib-api-client/dist/src/index.d.ts
  packages/lib-api-client/dist/src/index.d.ts.map
  packages/lib-api-client/dist/src/index.js
  packages/lib-api-client/dist/src/index.js.map
  packages/lib-api-client/dist/src/setup/contracts.setup.d.ts
  packages/lib-api-client/dist/src/setup/contracts.setup.d.ts.map
  packages/lib-api-client/dist/src/setup/contracts.setup.js
  packages/lib-api-client/dist/src/setup/contracts.setup.js.map
  packages/lib-api-client/dist/src/setup/index.d.ts
  packages/lib-api-client/dist/src/setup/index.d.ts.map
  packages/lib-api-client/dist/src/setup/index.js
  packages/lib-api-client/dist/src/setup/index.js.map
  packages/lib-api-client/dist/tsconfig.tsbuildinfo
  packages/lib-api-client/node_modules/.bin/rimraf
  packages/lib-api-client/node_modules/.bin/tsc
  packages/lib-api-client/node_modules/.bin/tsserver
  packages/lib-api-client/node_modules/.bin/vitest
  pnpm-lock.yaml
Due: prettier --write

chore: remove node_modules from lib-api-client
  packages/lib-api-client/node_modules/.bin/rimraf
  packages/lib-api-client/node_modules/.bin/tsc
  packages/lib-api-client/node_modules/.bin/tsserver
  packages/lib-api-client/node_modules/.bin/vitest
  packages/lib-api-client/node_modules/@anatine/zod-openapi
  packages/lib-api-client/node_modules/@ts-rest/core
  packages/lib-api-client/node_modules/@ts-rest/open-api
  packages/lib-api-client/node_modules/http-status
  packages/lib-api-client/node_modules/rimraf
  packages/lib-api-client/node_modules/typescript
  packages/lib-api-client/node_modules/vitest
  packages/lib-api-client/node_modules/zod
Due: none

chore: small refactor global scripts and tools
  assets/md/2-why.md
  assets/sh/colors.sh
  assets/sh/spinner.sh
  package.json
  packages/app-node-express/nodemon.json
  packages/app-node-express/package.json
  packages/app-node-express/scripts/mongodump.sh
  packages/app-node-express/scripts/start.sh
  packages/app-node-express/src/main.ts
  packages/app-node-express/src/setup/env.setup.ts
  packages/app-node-express/start.sh
  packages/app-node-express/test/dump/users.metadata.json
  packages/app-node-express/test/setup/mongodump.sh
  packages/app-node-express/tsconfig.json
  packages/app-node-express/tsconfig.prod.json
  packages/lib-api-client/package.json
  packages/lib-api-client/tsconfig.json
  packages/lib-api-client/tsconfig.prod.json
  packages/lib-commons/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

Apply automatic changes
  README.md
  pnpm-lock.yaml
Due: prettier --write

chore: add correct pnpm lock yaml
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json})
  node scripts/js/commitEmoji.js: any of: commit-msg
